.border-box{
    width: fit-content;
}

.border-box div {
    background:white;
    font-size:20px;
    padding:10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.btn{
    background: green;
    color: white;
    font-size: 20px;
    padding: 5px;
}